.header-container {
  align-items: center;
  background-color: rgb(147, 51, 234);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.header-content {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.search-btn {
  background-color: rgb(147, 51, 234);
  border: none;
  color: white;
}

.search-bar {
  align-items: center;
  background: white;
  display: flex;
  justify-content: center;
  width: 100vw;
}
