.container-app {
  background-color: rgba(23, 23, 22, 1);
  box-sizing: content-box;
  padding: 8.33em;
}

.title-app {
  align-items: flex-end;
  background-color: red;
  border-radius: 35%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 39px;
  justify-content: center;
  margin: 0.5rem auto;
  width: 150px;
}

.container-inputs-login {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.input-email {
  border-radius: 8px;
  height: 40px;
}

.input-password {
  border-radius: 8px;
  height: 40px;
}

.style-login-btn {
  background-color: rgba(79, 218, 227);
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 100%;
}

.style-login-btn:disabled {
  background-color: rgb(126, 105, 105);
  margin: none;
}

